<form action='/games/<%= @game.id %>' method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <br><input type="text" name="name" value="<%= @game.name %>" required="required"><br>
  <br><input type="text" name="name" value="<%= @game.genre %>" required="required"><br>
  <br><input type="text" name="name" value="<%= @game.developer %>"><br>
 <br><input type="text" name="name" value="<%= @game.publisher %>"><br>

  <input type="submit" value="update">

</form>