<form action='/games/<%= @games.id %>' method="post">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <br><input type="text" name="name" value="<%= @games.name %>"><br>
  <br><input type="text" name="genre" value="<%= @games.genre %>"><br>
  <br><input type="text" name="developer" value="<%= @games.developer %>"><br>
 <br><input type="text" name="publisher" value="<%= @games.publisher %>"><br>

  <input type="submit" value="update">

</form>